
# DRUPAL 8
 # This file contains default .gitignore rules. To use it, copy it to .gitignore,
# and it will cause files like your settings.php and user-uploaded files to be
# excluded from Git version control. This is a common strategy to avoid
# accidentally including private information in public repositories and patch
# files.
#
# Because .gitignore can be specific to your site, this file has a different
# name; updating Drupal core will not override your custom .gitignore file.

# Ignore core when managing all of a project's dependencies with Composer
# including Drupal core.
# public_html/core

# Core's dependencies are managed with Composer.
public_html/vendor/*
!public_html/vendor/.htaccess
!public_html/vendor/web.config


# Ignore configuration files that may contain sensitive information.
public_html/sites/*/settings*.php
public_html/sites/*/services*.yml

# Ignore paths that contain user-generated content.
public_html/sites/*/files
public_html/sites/*/private

# Ignore SimpleTest multi-site environment.
public_html/sites/simpletest

# If you prefer to store your .gitignore file in the sites/ folder, comment
# or delete the previous settings and uncomment the following ones, instead.

# Ignore configuration files that may contain sensitive information.
# */settings*.php

# Ignore paths that contain user-generated content.
# */files
# */private

# Ignore SimpleTest multi-site environment.
# simpletest

# Ignore core phpcs.xml and phpunit.xml.
public_html/core/phpcs.xml
public_html/core/phpunit.xml

/.idea
*.DS_Store

# SASS ignores
.sass-cache
.sass-cache/*
*.css.map

# Ignore directories generated by Composer
drush/contrib/
vendor/
web/core/
web/modules/contrib/
web/themes/contrib/
web/profiles/contrib/
web/libraries/

# Ignore sensitive information
web/sites/*/*settings*.php
web/sites/*/*services*.yml
web/sites/example.sites.php
web/sites/example.settings.local.php

# Ignore Drupal's file directory
web/sites/*/files

# Ignore SimpleTest multi-site environment.
web/sites/simpletest

# Ignore .lock
composer.lock

# Ignore Drupal's default files - copied into place as part of composer.
web/.csslintrc
web/.eslintignore
web/.eslintrc.json
web/.ht.router.php
web/.htaccess
web/autoload.php
web/index.php
web/modules/.gitignore
web/profiles/.gitignore
web/robots.txt
web/sites/.gitignore
web/sites/default/.gitignore
web/themes/.gitignore
web/README.md
web/modules/README.txt
web/themes/README.txt
web/profiles/README.txt
web/sites/README.txt

# ignore terraform provision dir on bigblaa6
provisioners

# Ignore .env files as they are personal
/.env
/.csslintrc
/.eslintignore
/.eslintrc.json
/.ht.router.php
/.htaccess
/INSTALL.txt
/README.txt
/autoload.php
/example.gitignore
/index.php
/robots.txt
/update.php
/web.config

# Ignore DDEV config
.ddev
/.gitattributes

bin/
bin/*
bin/composer
bin/composer.bat
bin/dcg
bin/dcg.bat
bin/drush
bin/drush.bat
bin/jsonlint
bin/jsonlint.bat
bin/paratest
bin/paratest_for_phpstorm
bin/paratest_for_phpstorm.bat
bin/paratest.bat
bin/patch-type-declarations
bin/patch-type-declarations.bat
bin/php-parse
bin/php-parse.bat
bin/phpcbf
bin/phpcbf.bat
bin/phpcs
bin/phpcs.bat
bin/phpstan
bin/phpstan.bat
bin/phpstan.phar
bin/phpstan.phar.bat
bin/phpunit
bin/phpunit.bat
bin/psysh
bin/psysh.bat
bin/release
bin/release.bat
bin/robo
bin/robo.bat
bin/simple-phpunit
bin/simple-phpunit.bat
bin/validate-json
bin/validate-json.bat
bin/var-dump-server
bin/var-dump-server.bat
bin/yaml-cli
bin/yaml-cli.bat
bin/yaml-lint
bin/yaml-lint.bat

