.microsite-header {
  .region-microsites-header {
    .microsite-header__main {
      .microsite-header__logo {
        max-width: 7rem;
      }

      .microsite-header__menus {
        padding-top: var(--spacing);

        .microsite-header__menu {
          .menu--menu-level-0 {
            gap: var(--spacing-largest);

            .menu-item {
              a {
                font-size: 1.125rem;

                &:hover {
                  @include text-decoration-thickness();
                }
              }

              &:last-child {
                a {
	                @extend %button;
                }
              }
            }
          }
        }
      }
    }
  }
}
