/* Read the intro about usage of breakpoint http://breakpoint-sass.com/ */
/* Flexbox containers */
/* Flexbox direction */
/* Flexbox wrap */
/* Flexbox basis */
/* Flexbox grow */
/* Flexbox justify content */
/* Flexbox align items */
/* Flexbox align content */
/* Flexbox align self */
/* Flex */
/* Order */
/* Box Sizing */
/* Box shadow */
/* Transitions */
/* Transform */
/* Background size */
/* Border Radius */
/* Single side border-radius */
/* Clearfix */
/* Mixin position */
/* Placeholder */
/* Cursor Grab */
/* line 1, ../scss/variables/_typography.scss */
.visually-hidden, .lgd-region--content-top .padding-horizontal .lgd-region__inner .block-social-media-links h2 {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

/* line 3, ../scss/base/_footer.scss */
.microsite-footer .region-microsites-footer.lgd-container > .lgd-region__inner {
  margin-block-start: var(--spacing-large);
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-areas: "top1 top2" "middle middle" "bottom bottom";
}
/* line 12, ../scss/base/_footer.scss */
.microsite-footer .region-microsites-footer.lgd-container > .lgd-region__inner .lgd-row:nth-child(1) {
  grid-area: top1;
}
/* line 15, ../scss/base/_footer.scss */
.microsite-footer .region-microsites-footer.lgd-container > .lgd-region__inner .lgd-row:nth-child(1) .field--name-lgms-footer-logos {
  justify-content: flex-start;
}
/* line 17, ../scss/base/_footer.scss */
.microsite-footer .region-microsites-footer.lgd-container > .lgd-region__inner .lgd-row:nth-child(1) .field--name-lgms-footer-logos img {
  max-width: 250px;
}
/* line 23, ../scss/base/_footer.scss */
.microsite-footer .region-microsites-footer.lgd-container > .lgd-region__inner .lgd-row:nth-child(2) {
  grid-area: top2;
}
/* line 26, ../scss/base/_footer.scss */
.microsite-footer .region-microsites-footer.lgd-container > .lgd-region__inner .lgd-row:nth-child(2) .microsite-footer__housekeeping {
  justify-content: flex-end;
}
/* line 29, ../scss/base/_footer.scss */
.microsite-footer .region-microsites-footer.lgd-container > .lgd-region__inner .lgd-row:nth-child(2) .microsite-footer__housekeeping .menu--menu-level-0 {
  flex-direction: column;
  align-content: end;
}
/* line 33, ../scss/base/_footer.scss */
.microsite-footer .region-microsites-footer.lgd-container > .lgd-region__inner .lgd-row:nth-child(2) .microsite-footer__housekeeping .menu--menu-level-0 .menu-item {
  text-align: right;
  line-height: 1;
}
/* line 41, ../scss/base/_footer.scss */
.microsite-footer .region-microsites-footer.lgd-container > .lgd-region__inner .microsite-footer__banner {
  grid-area: middle;
  margin-bottom: var(--spacing-large);
}
/* line 46, ../scss/base/_footer.scss */
.microsite-footer .region-microsites-footer.lgd-container > .lgd-region__inner .lgd-row:nth-child(4) {
  grid-area: bottom;
}
/* line 49, ../scss/base/_footer.scss */
.microsite-footer .region-microsites-footer.lgd-container > .lgd-region__inner .lgd-row:nth-child(4) .microsite-footer__copyright {
  justify-content: flex-start;
}

/* line 1, ../scss/base/_form.scss */
button, input, optgroup, select, textarea {
  color: var(--color-text);
  border-color: #E2E2E4;
}

/* line 6, ../scss/base/_form.scss */
.form-submit, input[type="submit"]:not(.homepage-submit), .microsite-header .region-microsites-header .microsite-header__main .microsite-header__menus .microsite-header__menu .menu--menu-level-0 .menu-item:last-child a, .paragraph--type--localgov-media-with-text .media-with-text__body a {
  display: inline-block;
  padding: 0.25rem 2rem;
  background: #F49D75;
  color: #383A42;
  border: 3px solid transparent;
  cursor: pointer;
  text-decoration: none;
  border-radius: 2rem;
}
/* line 16, ../scss/base/_form.scss */
.form-submit:hover, .form-submit:active, input[type="submit"]:not(.homepage-submit):hover, input[type="submit"]:not(.homepage-submit):active, .microsite-header .region-microsites-header .microsite-header__main .microsite-header__menus .microsite-header__menu .menu--menu-level-0 .menu-item:last-child a:hover, .paragraph--type--localgov-media-with-text .media-with-text__body a:hover, .microsite-header .region-microsites-header .microsite-header__main .microsite-header__menus .microsite-header__menu .menu--menu-level-0 .menu-item:last-child a:active, .paragraph--type--localgov-media-with-text .media-with-text__body a:active {
  border-color: #E2E2E4;
}
/* line 21, ../scss/base/_form.scss */
.form-submit:focus, input[type="submit"]:not(.homepage-submit):focus, .microsite-header .region-microsites-header .microsite-header__main .microsite-header__menus .microsite-header__menu .menu--menu-level-0 .menu-item:last-child a:focus, .paragraph--type--localgov-media-with-text .media-with-text__body a:focus {
  border-color: #E2E2E4;
  text-decoration: underline;
}
/* line 25, ../scss/base/_form.scss */
.form-submit:focus:hover, .form-submit:focus:active, input[type="submit"]:not(.homepage-submit):focus:hover, input[type="submit"]:not(.homepage-submit):focus:active, .microsite-header .region-microsites-header .microsite-header__main .microsite-header__menus .microsite-header__menu .menu--menu-level-0 .menu-item:last-child a:focus:hover, .paragraph--type--localgov-media-with-text .media-with-text__body a:focus:hover, .microsite-header .region-microsites-header .microsite-header__main .microsite-header__menus .microsite-header__menu .menu--menu-level-0 .menu-item:last-child a:focus:active, .paragraph--type--localgov-media-with-text .media-with-text__body a:focus:active {
  text-decoration-thickness: calc(max(3px, 0.1875rem, 0.12em));
}
/* line 31, ../scss/base/_form.scss */
.form-submit[disabled], input[type="submit"]:not(.homepage-submit)[disabled], .microsite-header .region-microsites-header .microsite-header__main .microsite-header__menus .microsite-header__menu .menu--menu-level-0 .menu-item:last-child a[disabled], .paragraph--type--localgov-media-with-text .media-with-text__body a[disabled] {
  opacity: .5;
}
/* line 35, ../scss/base/_form.scss */
.form-submit[id^="edit-reset"], .form-submit[id^="edit-delete"], input[type="submit"]:not(.homepage-submit)[id^="edit-reset"], input[type="submit"]:not(.homepage-submit)[id^="edit-delete"], .microsite-header .region-microsites-header .microsite-header__main .microsite-header__menus .microsite-header__menu .menu--menu-level-0 .menu-item:last-child a[id^="edit-reset"], .paragraph--type--localgov-media-with-text .media-with-text__body a[id^="edit-reset"], .microsite-header .region-microsites-header .microsite-header__main .microsite-header__menus .microsite-header__menu .menu--menu-level-0 .menu-item:last-child a[id^="edit-delete"], .paragraph--type--localgov-media-with-text .media-with-text__body a[id^="edit-delete"] {
  color: #000;
}

/* line 41, ../scss/base/_form.scss */
input[type="submit"].homepage-submit {
  background-color: #39697d;
  color: #fff;
  border: none;
}

/* line 1, ../scss/base/_general.scss */
.lgd-container {
  max-width: var(--width-mega);
}

/* line 6, ../scss/base/_general.scss */
.full .field--name-body,
.full .field--name-localgov-page-summary,
.full .field--name-localgov-directory-standfirst,
.full .field--name-localgov-text,
.full .field--name-body {
  max-width: 100%;
}

/* line 15, ../scss/base/_general.scss */
.lgd-page-section {
  color: var(--color-text);
}

/* line 19, ../scss/base/_general.scss */
a {
  text-underline-offset: 0.25em;
}

/* line 24, ../scss/base/_general.scss */
.lgd-region--content-top .padding-horizontal {
  padding-inline: 0;
}
/* line 27, ../scss/base/_general.scss */
.lgd-region--content-top .padding-horizontal .lgd-region__inner {
  position: relative;
}
/* line 30, ../scss/base/_general.scss */
.lgd-region--content-top .padding-horizontal .lgd-region__inner .block-social-media-links {
  position: absolute;
  top: 5%;
  right: 0;
  z-index: 15;
}
/* line 40, ../scss/base/_general.scss */
.lgd-region--content-top .padding-horizontal .lgd-region__inner .block-social-media-links .social-media-links--platforms {
  background: rgba(73, 77, 87, 0.19);
}
/* line 43, ../scss/base/_general.scss */
.lgd-region--content-top .padding-horizontal .lgd-region__inner .block-social-media-links .social-media-links--platforms a {
  display: inline-block;
  margin: 5px;
  border: 4px solid transparent;
  color: #fff;
}
/* line 49, ../scss/base/_general.scss */
.lgd-region--content-top .padding-horizontal .lgd-region__inner .block-social-media-links .social-media-links--platforms a:hover {
  color: #FFD047;
}
/* line 54, ../scss/base/_general.scss */
.lgd-region--content-top .padding-horizontal .lgd-region__inner .block-social-media-links .social-media-links--platforms a:focus:hover {
  color: #000;
}
/* line 60, ../scss/base/_general.scss */
.lgd-region--content-top .padding-horizontal .lgd-region__inner .block-social-media-links .social-media-links--platforms.vertical {
  display: flex;
  flex-direction: column;
  align-items: cente r;
  margin-bottom: 0;
}
/* line 66, ../scss/base/_general.scss */
.lgd-region--content-top .padding-horizontal .lgd-region__inner .block-social-media-links .social-media-links--platforms.vertical li {
  margin: 0;
  font-size: 0.8rem;
}

/* line 78, ../scss/base/_general.scss */
.lgd-region--messages .lgd-container {
  background-color: #494d57;
}

/* line 4, ../scss/base/_header.scss */
.microsite-header .region-microsites-header .microsite-header__main .microsite-header__logo {
  max-width: 7rem;
}
/* line 8, ../scss/base/_header.scss */
.microsite-header .region-microsites-header .microsite-header__main .microsite-header__menus {
  padding-top: var(--spacing);
}
/* line 12, ../scss/base/_header.scss */
.microsite-header .region-microsites-header .microsite-header__main .microsite-header__menus .microsite-header__menu .menu--menu-level-0 {
  gap: var(--spacing-largest);
}
/* line 16, ../scss/base/_header.scss */
.microsite-header .region-microsites-header .microsite-header__main .microsite-header__menus .microsite-header__menu .menu--menu-level-0 .menu-item a {
  font-size: 1.25rem;
  font-weight: 700;
}
/* line 20, ../scss/base/_header.scss */
.microsite-header .region-microsites-header .microsite-header__main .microsite-header__menus .microsite-header__menu .menu--menu-level-0 .menu-item a:hover {
  text-decoration-thickness: calc(max(3px, 0.1875rem, 0.12em));
}

/* line 1, ../scss/components/_owl_carousel.scss */
.full__banner {
  max-width: var(--width-mega);
  margin-inline: auto;
  margin-bottom: calc(var(--spacing-large) * -1);
  padding-bottom: var(--spacing-large);
  background-color: #494d57;
}
/* line 8, ../scss/components/_owl_carousel.scss */
.full__banner::before {
  content: '';
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 95%;
  left: 0;
  max-width: var(--width-mega);
  margin-inline: auto;
  background-image: linear-gradient(#494d57, transparent);
}
/* line 22, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
/* line 28, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme .owl-dots .owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  display: inline-block;
  zoom: 1;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 44, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  transition: opacity .2s ease;
  border-radius: 30px;
}
/* line 55, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme .owl-dots .owl-dot.active span {
  background: #869791;
}
/* line 63, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme .owl-nav [class*=owl-] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* line 69, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme .owl-nav .owl-prev {
  left: 0;
}
/* line 73, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme .owl-nav .owl-next {
  right: 0;
}
/* line 77, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme .owl-nav .disabled {
  display: none;
  opacity: .5;
  cursor: default;
}
/* line 82, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme .owl-nav .disabled:hover, .full__banner .owl-theme .owl-nav .disabled:focus {
  background: rgba(73, 77, 87, 0.19);
  color: #fff;
}
/* line 89, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
/* line 94, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel {
  display: none;
  width: 100%;
  position: relative;
  z-index: 1;
}
/* line 100, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel .owl-stage {
  position: relative;
  touch-action: pan-Y;
}
/* line 104, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 114, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  transform: translate3d(0px, 0, 0);
}
/* line 120, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
}
/* line 125, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  transform-style: preserve-3d;
}
/* line 134, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel.owl-big .owl-item img {
  transform-style: preserve-3d;
}
/* line 142, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel.owl-thumb .owl-item img {
  border: 5px solid transparent;
  cursor: pointer;
}
/* line 146, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel.owl-thumb .owl-item img:hover, .full__banner .owl-theme.owl-carousel.owl-thumb .owl-item img:focus {
  border-color: #a3a353;
}
/* line 154, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel .owl-dots.disabled, .full__banner .owl-theme.owl-carousel .owl-nav.disabled {
  display: none;
}
/* line 158, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel .owl-dot {
  cursor: pointer;
  user-select: none;
}
/* line 163, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel.owl-loaded {
  display: block;
}
/* line 167, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
/* line 172, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel.owl-hidden {
  opacity: 0;
}
/* line 176, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel.owl-refresh .owl-item {
  display: none;
}
/* line 180, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel.owl-drag .owl-item {
  user-select: none;
}
/* line 184, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel.owl-grab {
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
/* line 188, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel.owl-rtl {
  direction: rtl;
}
/* line 191, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* line 196, ../scss/components/_owl_carousel.scss */
.full__banner .owl-theme.owl-carousel.no-js {
  display: block;
}
/* line 203, ../scss/components/_owl_carousel.scss */
.full__banner .owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 210, ../scss/components/_owl_carousel.scss */
.full__banner .owl-carousel .owl-animated-in {
  z-index: 0;
}
/* line 214, ../scss/components/_owl_carousel.scss */
.full__banner .owl-carousel .owl-animated-out {
  z-index: 1;
}
/* line 218, ../scss/components/_owl_carousel.scss */
.full__banner .owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 244, ../scss/components/_owl_carousel.scss */
.full__banner .owl-outer {
  position: relative;
  max-width: 100%;
}
/* line 248, ../scss/components/_owl_carousel.scss */
.full__banner .owl-outer .owl-control {
  position: absolute;
  bottom: 0;
  right: 5px;
  z-index: 1;
  display: flex;
}
/* line 255, ../scss/components/_owl_carousel.scss */
.full__banner .owl-outer .owl-control button {
  display: none;
  margin-right: 0;
}
/* line 259, ../scss/components/_owl_carousel.scss */
.full__banner .owl-outer .owl-control button.play, .full__banner .owl-outer .owl-control button.pause {
  display: inline-flex;
  align-items: center;
}
/* line 264, ../scss/components/_owl_carousel.scss */
.full__banner .owl-outer .owl-control button.play .button-text, .full__banner .owl-outer .owl-control button.pause .button-text {
  margin-left: 5px;
}
/* line 271, ../scss/components/_owl_carousel.scss */
.full__banner .owl-outer button {
  outline: none;
  color: #fff;
  margin: 5px;
  padding: 6px;
  background: rgba(73, 77, 87, 0.19);
  border: 4px solid transparent;
  font-size: 0.5rem;
}
@media (min-width: 30em) {
  /* line 271, ../scss/components/_owl_carousel.scss */
  .full__banner .owl-outer button {
    font-size: 1rem;
  }
}
/* line 284, ../scss/components/_owl_carousel.scss */
.full__banner .owl-outer button:hover, .full__banner .owl-outer button:focus {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  text-decoration: none;
  border-color: #FFD047;
}
/* line 299, ../scss/components/_owl_carousel.scss */
.full__banner .owl-big.owl-carousel .owl-stage .owl-item .js-media-library-item-preview {
  display: block;
}
/* line 303, ../scss/components/_owl_carousel.scss */
.full__banner .owl-big.owl-carousel .owl-stage .owl-item .image-caption {
  margin: auto;
  font-size: 0.9em;
  border: 1px solid #E2E2E4;
  padding: 10px;
  background: #E2E2E4;
  text-align: center;
  color: #383A42;
}
/* line 321, ../scss/components/_owl_carousel.scss */
.full__banner .owl-thumb.owl-carousel .owl-stage .owl-item .image-caption {
  display: none;
}

/* line 3, ../scss/components/_teasers.scss */
.paragraph--type--localgov-featured-teasers .featured-teasers__teasers .field__items {
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  flex-direction: column;
  -webkit-box-pack: space-around;
  -moz-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 1rem;
}
/* line 10, ../scss/components/_teasers.scss */
.paragraph--type--localgov-featured-teasers .featured-teasers__teasers .field__items > .field__item {
  margin-block-start: 0;
  max-width: 350px;
  box-shadow: 15px 15px 15px -3px #000;
}
/* line 15, ../scss/components/_teasers.scss */
.paragraph--type--localgov-featured-teasers .featured-teasers__teasers .field__items > .field__item .paragraph--type--localgov-featured-teaser {
  position: relative;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-block-end: 1rem;
  color: #fff;
  background-color: #64656c;
}
/* line 24, ../scss/components/_teasers.scss */
.paragraph--type--localgov-featured-teasers .featured-teasers__teasers .field__items > .field__item .paragraph--type--localgov-featured-teaser .featured-teaser__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
/* line 29, ../scss/components/_teasers.scss */
.paragraph--type--localgov-featured-teasers .featured-teasers__teasers .field__items > .field__item .paragraph--type--localgov-featured-teaser .featured-teaser__content .field--name-localgov-text {
  flex-grow: 1;
}
/* line 34, ../scss/components/_teasers.scss */
.paragraph--type--localgov-featured-teasers .featured-teasers__teasers .field__items > .field__item .paragraph--type--localgov-featured-teaser .featured-teaser__image {
  padding-inline: 1rem;
}
/* line 37, ../scss/components/_teasers.scss */
.paragraph--type--localgov-featured-teasers .featured-teasers__teasers .field__items > .field__item .paragraph--type--localgov-featured-teaser .featured-teaser__image .contextual-region {
  position: unset;
}
/* line 43, ../scss/components/_teasers.scss */
.paragraph--type--localgov-featured-teasers .featured-teasers__teasers .field__items > .field__item .paragraph--type--localgov-featured-teaser a::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (min-width: 60em) {
  /* line 61, ../scss/components/_teasers.scss */
  .paragraph--type--localgov-featured-teasers .featured-teasers__teasers .field__items {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    flex-direction: row;
  }
  /* line 64, ../scss/components/_teasers.scss */
  .paragraph--type--localgov-featured-teasers .featured-teasers__teasers .field__items .field__item {
    margin-block-start: 0;
    max-width: 350px;
  }
  /* line 68, ../scss/components/_teasers.scss */
  .paragraph--type--localgov-featured-teasers .featured-teasers__teasers .field__items .field__item .paragraph--type--localgov-featured-teaser {
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    flex-direction: column;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-block-end: 1rem;
    color: #fff;
    background-color: #64656c;
  }
  /* line 76, ../scss/components/_teasers.scss */
  .paragraph--type--localgov-featured-teasers .featured-teasers__teasers .field__items .field__item .paragraph--type--localgov-featured-teaser .featured-teaser__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  /* line 81, ../scss/components/_teasers.scss */
  .paragraph--type--localgov-featured-teasers .featured-teasers__teasers .field__items .field__item .paragraph--type--localgov-featured-teaser .featured-teaser__content .field--name-localgov-text {
    flex-grow: 1;
  }
  /* line 86, ../scss/components/_teasers.scss */
  .paragraph--type--localgov-featured-teasers .featured-teasers__teasers .field__items .field__item .paragraph--type--localgov-featured-teaser .featured-teaser__image {
    padding-inline: 1rem;
  }
}
/* line 1, ../scss/paragraphs/_media_with_text.scss */
.paragraph--type--localgov-media-with-text {
  padding: 1rem 15rem 0;
  margin-block-end: 0;
}
/* line 5, ../scss/paragraphs/_media_with_text.scss */
.paragraph--type--localgov-media-with-text .media-with-text__inner {
  align-items: center;
}
/* line 8, ../scss/paragraphs/_media_with_text.scss */
.paragraph--type--localgov-media-with-text .media-with-text__inner .media-with-text__media {
  padding: 2rem;
}
/* line 11, ../scss/paragraphs/_media_with_text.scss */
.paragraph--type--localgov-media-with-text .media-with-text__inner .media-with-text__media > .field__item {
  position: relative;
  border: 0.5rem solid #F49D75;
  display: block;
}
/* line 16, ../scss/paragraphs/_media_with_text.scss */
.paragraph--type--localgov-media-with-text .media-with-text__inner .media-with-text__media > .field__item > * {
  position: relative;
}
/* line 30, ../scss/paragraphs/_media_with_text.scss */
.paragraph--type--localgov-media-with-text.media-with-text--media-right .media-with-text__body {
  padding-inline-start: 2rem;
}
/* line 36, ../scss/paragraphs/_media_with_text.scss */
.paragraph--type--localgov-media-with-text.media-with-text--media-right .media-with-text__media > .field__item > * {
  box-shadow: -15px 15px 15px -3px #000;
  top: 1rem;
  right: 1rem;
}
/* line 46, ../scss/paragraphs/_media_with_text.scss */
.paragraph--type--localgov-media-with-text.media-with-text--media-left .media-with-text__body {
  padding-inline-end: 2rem;
}
/* line 52, ../scss/paragraphs/_media_with_text.scss */
.paragraph--type--localgov-media-with-text.media-with-text--media-left .media-with-text__media > .field__item > * {
  box-shadow: 15px 15px 15px -3px #000;
  top: 1rem;
  left: 1rem;
}

/* line 1, ../scss/paragraphs/_pull_out_quote.scss */
.paragraph--type--localgov-quote {
  margin-inline: -1rem;
  background-color: #fff;
  color: #494d57;
  padding: 3.5rem 4rem 2rem;
  border: none;
}
/* line 8, ../scss/paragraphs/_pull_out_quote.scss */
.paragraph--type--localgov-quote .pull-out-quote__content {
  position: relative;
  color: inherit;
}
/* line 12, ../scss/paragraphs/_pull_out_quote.scss */
.paragraph--type--localgov-quote .pull-out-quote__content .fa-solid,
.paragraph--type--localgov-quote .pull-out-quote__content .svg-inline--fa {
  display: inline-block;
  position: absolute;
  font-size: 3rem;
  color: #F49D75;
}
/* line 19, ../scss/paragraphs/_pull_out_quote.scss */
.paragraph--type--localgov-quote .pull-out-quote__content .fa-solid.fa-quote-left,
.paragraph--type--localgov-quote .pull-out-quote__content .svg-inline--fa.fa-quote-left {
  top: -2rem;
  left: 0;
}
/* line 24, ../scss/paragraphs/_pull_out_quote.scss */
.paragraph--type--localgov-quote .pull-out-quote__content .fa-solid.fa-quote-right,
.paragraph--type--localgov-quote .pull-out-quote__content .svg-inline--fa.fa-quote-right {
  bottom: -2rem;
  right: 0;
}
/* line 30, ../scss/paragraphs/_pull_out_quote.scss */
.paragraph--type--localgov-quote .pull-out-quote__content .field--name-localgov-text-plain {
  display: inline-block;
  margin-inline: 6rem;
  font-size: 2rem;
}
/* line 37, ../scss/paragraphs/_pull_out_quote.scss */
.paragraph--type--localgov-quote .pull-out-quote__author {
  margin-inline: 6rem;
  font-size: 1.25rem;
  font-weight: normal;
  color: inherit;
}

/* line 2, ../scss/pages/_page.scss */
.page-node-type-localgov-page .main {
  margin-block-end: -2rem;
  padding-bottom: var(--spacing-large);
}
/* line 7, ../scss/pages/_page.scss */
.page-node-type-localgov-page .main .node--type-localgov-page .lgd-container {
  background-color: #494d57;
}
/* line 12, ../scss/pages/_page.scss */
.page-node-type-localgov-page .main .node--type-localgov-page .lgd-page-section .lgd-container {
  padding-block-end: calc(var(--spacing-large) * 2);
}
/* line 17, ../scss/pages/_page.scss */
.page-node-type-localgov-page .main .node--type-localgov-page .full__layout-section {
  padding-block-end: var(--spacing-large);
  margin-bottom: calc(var(--spacing) * -1);
}
/* line 24, ../scss/pages/_page.scss */
.page-node-type-localgov-page .main .node--type-localgov-page .layout__region > *:last-child {
  margin-block-end: 0;
}
/* line 32, ../scss/pages/_page.scss */
.page-node-type-localgov-page .paragraph--type--webform {
  margin: 6rem -1rem 0;
  background-color: #F49D75;
  color: #383A42;
}
/* line 37, ../scss/pages/_page.scss */
.page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform {
  width: 50%;
  margin-inline: auto;
}
/* line 41, ../scss/pages/_page.scss */
.page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform .webform-submission-newsletter-form {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-areas: "header header" "messages messages" "field  submit";
}
/* line 49, ../scss/pages/_page.scss */
.page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform .webform-submission-newsletter-form div[data-drupal-messages] {
  grid-area: messages;
}
/* line 52, ../scss/pages/_page.scss */
.page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform .webform-submission-newsletter-form div[data-drupal-messages] .messages {
  margin-block-start: 0;
}
/* line 57, ../scss/pages/_page.scss */
.page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform .webform-submission-newsletter-form .js-form-type-processed-text {
  grid-area: header;
  margin-block-start: 1rem;
}
/* line 61, ../scss/pages/_page.scss */
.page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform .webform-submission-newsletter-form .js-form-type-processed-text h1,
.page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform .webform-submission-newsletter-form .js-form-type-processed-text h2,
.page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform .webform-submission-newsletter-form .js-form-type-processed-text h3,
.page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform .webform-submission-newsletter-form .js-form-type-processed-text h4,
.page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform .webform-submission-newsletter-form .js-form-type-processed-text h5,
.page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform .webform-submission-newsletter-form .js-form-type-processed-text h6,
.page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform .webform-submission-newsletter-form .js-form-type-processed-text p {
  color: inherit;
  margin-bottom: var(--spacing-smaller);
}
/* line 74, ../scss/pages/_page.scss */
.page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform .form-item, .page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform .facet-item, .page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform .form-item-webform-terms-of-service {
  margin-inline-end: 0;
}
/* line 78, ../scss/pages/_page.scss */
.page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform .form-item--error,
.page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform .form-item.error {
  padding: 0;
}
/* line 83, ../scss/pages/_page.scss */
.page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform input.form-email {
  color: inherit;
  border: none;
}
/* line 88, ../scss/pages/_page.scss */
.page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform .webform-confirmation {
  border: none;
}
/* line 92, ../scss/pages/_page.scss */
.page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform .webform-confirmation .webform-confirmation__back a {
  color: inherit;
}
/* line 95, ../scss/pages/_page.scss */
.page-node-type-localgov-page .paragraph--type--webform .field--name-field-webform .webform-confirmation .webform-confirmation__back a:visited {
  color: inherit;
}
