.page-node-type-localgov-page {
  .main {
    margin-block-end: -2rem;
    padding-bottom: var(--spacing-large);

    .node--type-localgov-page {
      .lgd-container {
        background-color: $body-bg;
      }

      .lgd-page-section {
        .lgd-container {
          padding-block-end: calc(var(--spacing-large) * 2);
        }
      }

      .full__layout-section {
        padding-block-end: var(--spacing-large);
        margin-bottom: calc(var(--spacing) * -1);
      }

      .layout__region {
        > * {
          &:last-child {
            margin-block-end: 0;
          }
        }
      }
    }
  }

  .paragraph--type--webform {
    margin: 6rem -1rem 0;
    background-color: $coral;
    color: $grey_dark;

    .field--name-field-webform {
      width: 50%;
      margin-inline: auto;

      .webform-submission-newsletter-form {
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-areas:
          "header header"
          "field  submit";

        .js-form-type-processed-text {
          grid-area: header;
          margin-block-start: 1rem;

          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          p {
            color: inherit;
            margin-bottom: var(--spacing-smaller);
          }
        }
      }

      input.form-email {
        color: inherit;
        border: none;
      }
    }
  }
}
