// Theme colour pallet

$red: #781800;
$blue: #345a92;
$green: #385725;
$black: #1d1d1d;
$white: #fff;
$gold: #b6a267;

$grey_darkest: #3c3c3c;
$grey_dark: #444;
$grey: #999;
$grey-light: #B7B1A9;
$grey-lighter: #D1CCC4;
$grey-lightest: #e4e4e4;
$caption-bg: $grey-lightest;

$transparent_white: rgba(255,255,255,.5);
$transparent_black: rgba(0,0,0,.19);
